.bb{
  font-weight:bold;
  color:rgb(0, 0, 0);
  font-family: Arial;
  font-size: 36px;
  width: 460px;
  line-height: 35px;
}
.sale{
  font-style: italic;
  font-weight: normal;
  color:rgb(255, 0, 0);
  font-size: 25px;
}

.descib{
  font-family: Verdana;
  width: 300px;
}
.get{
  margin-top: 33px;
  color:white;
  background-color:rgb(1, 131, 1);
  padding-right: 20px;
  padding-left:20px;
  padding-top:10px;
  padding-bottom:10px ;
 border-radius: 8px;
  width: 100px;
  cursor:pointer;
  font-family: Verdana;
}